- content_for :title, t("icu.eligibility_criteria")

= render "prev_next", page: :eligibility_criteria

%h1.text-center= t("icu.eligibility_criteria")

%p.small.text-center Last updated: January 2016 based on motions passed at 2015 EGM.

%ol
  %li
    A person is eligible to be selected to play for Ireland if that person was born in
    either Northern Ireland or the Republic of Ireland - hereinafter Ireland - or had
    either one or both parents born in Ireland, or is a citizen of the Republic of Ireland.
  %li
    To be considered for selection, a person not qualifying under the above criterion
    must, on 1st of January of the year in which the representative international
    tournament is scheduled to take place, have been:
    %ul
      %li resident in Ireland for a period of not less than two years; and
      %li registered on the FIDE Rating List under IRL for a period of not less than one year.
  %li
    To be considered for selection for a representative International tournament, a
    male player qualifying under 1 or 2 above must also fulfil the following minimum
    activity criteria in the two years preceding the date on which the International
    Selection Committee meet to consider selection of players for the tournament:
    %ul
      %li
        30 rated games (at standard time controls - the games involved should
        have a time control of at least 1 hour and 15 minutes per player), at least
        18 of which must be played in Ireland. Players who are not resident in
        Ireland who play in FIDE rated events and/or tournaments in their country
        of residence or elsewhere outside of Ireland must provide proof of their
        activity levels to the international Selection Committee; or
      %li
        24 rated games provided this includes at least one of the two Irish Senior
        Championships held in the two years preceding the start date of the
        representative international tournament for which he wishes to be
        considered for selection.
  %li
    A female player qualifying under 1 above must play in a minimum of 12 ICU rated
    games in the two years prior to the representative International tournament for
    which she is being considered for selection. The two year period shall reckon
    backwards from the date on which the International Selection Committee meet to
    consider the selection of players.
  %li
    A female player qualifying under 2 above must fulfil the following activity criteria:
    24 ICU rated games in Ireland within the preceding two year period. After
    meeting this condition for her first selection for a representative international
    tournament, the player will be required to play a minimum of 12 ICU rated games
    in respect of all future selections.
  %li
    The minimum number of games applying under 4 and 5 will apply to selections
    for Representative Internationals taking place during 2016 and 2017 only. The
    minimum number of games for eligibility to be considered for Representative
    Internationals for female players taking place from 2018 onwards will be 24
    games in Ireland for female players qualifying under 1 or 2.
  %li
    Not more than one third of a representative international team (including
    substitutes), may be made up of players who qualify under 2.
  %li
    Any player who has not met the above requirements at the time the International
    Selection Committee meets to consider the selection of players will not be eligible
    for selection for the representative International tournament involved.
  %li
    The Irish Championships:
    %ol{style: "list-style: lower-alpha"}
      %li The Irish Champion shall be the highest placed native Irish player or citizen in the Senior event.
      %li
        The Irish Champion shall be selected automatically for the next Olympiad.
        Where the Irish Championship concludes too late to include the Champion
        for that year in the next Olympiad due to its timing, the Champion shall be
        automatically selected for the following Olympiad. If a player becomes the
        Irish Championship in consecutive years this shall entitle him/her to
        automatic selection for a corresponding number of future Olympiad teams,
        provided he or she also complies with the minimum activity criteria under 3.
  %li
    Games played in a representative International tournament shall not reckon
    towards the qualification thresholds described at 3, 4, 5 and 6 above.