- content_for :title, t("icu.ncc_rules")

= render "prev_next", page: :ncc_rules

%h1.text-center= t("icu.ncc_rules")

%p.small.text-center Last updated: January 2016 based on motions passed at 2015 EGM.

%p
  The INCC will be run by the Irish Chess Union's tournament director; or, if that is not possible, the chairperson of the ICU has the responsibility to ensure the event is held. The INCC will be run in accordance with The FIDE Laws of Chess and the ECU Regulations.
%p
  The Championship rules are as follows.
%ol.nested-numbering
  %li The INCC will normally be a Swiss format team event and will be run annually at a time chosen by the ICU Executive. In selecting the dates for the event, the Executive must ensure that there is sufficient time between the conclusion of the event and the start of the European Club Cup competition to register Ireland’s entries to the latter competition on foot of the results of the INCC.
  %li The venue will normally rotate between the provinces. It should be held in Leinster in alternate years and in each of Munster and Connaught one year in every four. The sequencing of the rotation between the provinces may be varied at the discretion of the ICU and a venue in Ulster may also be selected at the discretion of the ICU.
  %li
    Any Club in Ireland (all 32 counties) which has entered at least one team in an ICU rated provincial league and, prior to the start of the INCC competition, has played at least 3 matches in that league during the year in which the INCC competition is held is entitled to enter a team in the INCC.
    %ol.nested-numbering
      %li Each of the players selected to play for the club must have played at least 3 ICU rated games for their club in the provincial league in the current season.
      %li
        Each of the players selected to play for the club must not have played any games for another club in the same division of the same league in the current season
      %p Where a club has not participated in a provincial league, the team captain of that club’s team must provide satisfactory evidence to the Tournament Director that the team members in question are members of a “bona fide” chess club in order to be eligible to play in the INCC. In this case, the following applies:
      %li Each of the selected players must have played at least 5 ICU rated games in Ireland in the current season.
  %li A club may enter only one team in the competition.
  %li The ICU shall set a small entry fee per team to help offset the costs of running the event. This fee must be paid upon registration and is non-refundable.
  %li The number of rounds will be determined by the number of teams that enter in any particular year. Normally there will be a minimum of four rounds of matches.
  %li
    The Tournament Director, or another person appointed by the ICU Chairperson to act in that capacity, shall obtain details of the players competing in advance of the event and use the latest ICU published ratings available to determine the seeding of each team. The person appointed as Tournament Arbiter should carry out the full range of Arbiter duties required for the effective running of the tournament including:
    %ol{style: "list-style: lower-alpha"}
      %li the provision of suitable reports to the ICU and in particular the ICU PRO; and
      %li submission of the event for ICU and FIDE rating.
  %li The Tournament Arbiter must use FIDE approved software for running the tournament.
  %li The deadline for receipt of entries will be determined by the Tournament Director when the dates for holding the event are decided upon. This deadline must be at least 14 days prior to the commencement of the Tournament.
  %li The time control will be 1 hour and 30 minutes per player for all moves plus 30 seconds per move applied from move 1.
  %li The two top placed teams will qualify for the European Club Cup.
  %li In the event of a team declining their place in the European Club Cup, the ICU's Tournament Director shall offer the place in the ECC to the next highest placed team and continue until the place is filled, provided that team has finished in the top half of the INCC final standings.
  %li The appointed team will be required to secure their place with a refundable deposit of the ECC entry fee (currently &euro;300). This deposit will be refunded to the club upon their return from the ECC. Should the team decline to pay this deposit in a timely manner, the ICU tournament director may decide to allocate the slot to the next team as per point 12.
  %li Teams will consist of 6 players and a maximum of 2 substitutes.
  %li On the deadline for receipt of entries, the average rating of the top six players on each team must be at least 1450 based on the latest ICU published rating list. There is no restriction as to the strength of the substitutes.
  %li Each team captain must submit his or her team before the deadline set for receipt of entries by the Tournament Director and must declare a board order including the order of the substitutes. There is no restriction on how the board order is decided. When entering a team, the captain must also furnish both the ICU code and FIDE ID of each of his or her players.
  %li The declared board order cannot be changed; players will always play in board order and substitutes will always play on the lowest boards. This means that when any of the top six players are replaced by substitutes, none of the remaining top six players can move to a lower board.
  %li In the event of a declared player withdrawing prior to the commencement of the event a substitute player must be played in accordance with rule 17, an additional substitute may with express permission of the Tournament Director be named in accordance with rule 3, rule 19 and rule 20.
  %li All players must be members of the Irish Chess Union, irrespective of their nationality. All players must be registered and currently subscribed members ( or life member ) and must appear on the ICU published rating list valid for the event.
  %li All players must be members of the club they are representing.  For the purposes of these rules, in order to be considered a member of the club, a player must fully comply with the requirements of rule 3 and the ICU tournament director must be satisfied that each team member has a real affiliation to the club they are representing.
  %li If any club fields an ineligible player, then any points won by the ineligible player(s) will be deducted and awarded to their opponents, and also any points gained on boards lower than that on which the infringement took place shall be likewise deducted and awarded to their opponents.
  %li
    Primary scoring will be done on match points. Teams shall not share the title of National Club Champion. In the event of match points not deciding the winner, the following shall be applied in sequential order:
    %ol{style: "list-style: lower-alpha"}
      %li By the number of board points won, the highest number wins.
      %li Sonneborn-Berger for Team Tournaments - the sum of the products of the scores made by each opposing team and the score made against that team.
      %li By the sum of the board points of all teams’ opponents, the highest number wins.
