- content_for :title, t("icu.ncc_rules")

= render "prev_next", page: :ncc_rules

%h1.text-center= t("icu.ncc_rules")

%p
  The national club championship rules have been moved to
  %a{href: "/icu/constitution#A"} Appendix A of the Constitution.
