.panel-default
  .panel-heading
    = news.headline
    - unless news.active
      = "(inactive)"
    .pull-right.right-margin-thin{data: {news_id: news.id}}
      = like_button(current_user, news)
  .panel-body.news
    = news.html2
