.panel.panel-primary
  .panel-body
    .text-center.small
      Apart from its two websites,
      %strong www.icu.ie
      ,
      = succeed(",") do
        %strong ratings.icu.ie
      and a <a href="https://www.facebook.com/IrishChess">Facebook page</a>
      the ICU is not responsible for any other internet media relating to Irish chess.
