.panel.panel-primary.irish-events
  .panel-heading
    .text-center Main Pages
  .panel-body
    %ul
      %li
        = link_to "For Club players", home2_path
      %li
        = link_to "For Juniors", juniors_path
      %li
        = link_to "For Beginners", beginners_path
      %li
        = link_to "For chess Parents", parents_path
