.panel.panel-primary
  .panel-heading
    .text-center Upcoming Events
  - events.each do |event|
    .panel-body
      = link_to event.name, event
      %br
      = event.dates
      %br
      = ((event.note || '').strip.split("\n").first || '').strip
  .text-center= link_to t("event.calendar"), events_path
