.panel.panel-primary.irish-events
  .panel-heading
    .text-center Upcoming Events
  - @irish_events.each do |event|
    .panel-body
      = link_to event.name, event
      %br
      = event.dates
      %br
      = ((event.note || '').strip.split("\n").first || '').strip
  .panel-footer.text-center= link_to t("event.calendar"), events_path
