.panel.panel-primary
  .panel-body
    .text-center
      = link_to "ICU Junior Ratings", "http://ratings.icu.ie/icu_ratings/juniors", target: "ratings"

.panel.panel-primary.clubs
  .panel-heading
    .text-center= t('junior.clubs')
  .panel-body
    - @junior_clubs.each do |club|
      %p= link_to club.name, club
