.panel.panel-primary.news
  .panel-heading
    .text-center Latest News
  - news_items = @news.matches
  - news_items[0..2].each do |news|
    = render 'news/panel2', news: news
  .panel-default
    .panel-heading
      Sponsors
    .panel-body
      - Sponsor.random_pair.each do |sponsor|
        = image_link_to_sponsor(sponsor)
  - news_items[3..-1].each do |news|
    = render 'news/panel2', news: news

  .panel-footer.text-center= link_to t('news.search'), news_index_path
