.panel.panel-primary.home2
  .panel-heading
    .text-center Latest News
  - @news.matches.each do |news|
    = render 'news/panel', news: news

  .text-center= link_to t('news.search'), news_index_path
