.panel.panel-primary.organisations
  .panel-heading
    .text-center= t('women.organisations')
  .panel-body
    %ul
      %li= link_to "WomenInChess", "https://www.womeninchess.com/", target: "external"

