.row
  .col-sm-3
    =render 'irish'
    =render 'junior_events'
  .col-sm-7
    =render 'news2'
  .col-sm-2
    = render 'layouts/features'
.row
  .panel
    %a{href: 'https://www.chess.com?ref_id=26209548'}
      %img.center-block{src: 'http://d1lalstwiwz2br.cloudfront.net/images_adv/1378332246.6305_origin.jpeg'}