- content_for :title, t("icu.#{@document.title.downcase}")

= render 'preview'

.text-center
  - if can?(:update, @document) && @document.is_current?
    = link_to t("edit"), edit_document_path(@document), class: "btn btn-primary"

%hr
= render 'versions'