/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require board-min
 *= require boards
 */

:root {
  /* bootstrap defaults */
  --desktop-breakpoint: 1200px;
  --mobile-breakpoint: 768px;

  /* consistent across themes */
  --map-marker-classical: #3498DB;
  --map-marker-rapid: #12C9A2;
  --map-marker-blitz: #FF8736;
  --map-marker-training: #DB344D;
  --map-marker-other: #B2BAE3;

  /* extend theme colours */
  --brand-primary-darker: color-mix(in oklab, var(--brand-primary), black 60%);
  --brand-primary-dark: color-mix(in oklab, var(--brand-primary), black 30%);
  --brand-primary-light: color-mix(in oklab, var(--brand-primary), white 30%);
  --brand-primary-lighter: color-mix(in oklab, var(--brand-primary), white 80%);

  --brand-success-darker: color-mix(in oklab, var(--brand-success), black 60%);
  --brand-success-dark: color-mix(in oklab, var(--brand-success), black 30%);
  --brand-success-light: color-mix(in oklab, var(--brand-success), white 30%);
  --brand-success-lighter: color-mix(in oklab, var(--brand-success), white 80%);

  --brand-danger-darker: color-mix(in oklab, var(--brand-danger), black 60%);
  --brand-danger-dark: color-mix(in oklab, var(--brand-danger), black 30%);
  --brand-danger-light: color-mix(in oklab, var(--brand-danger), white 30%);
  --brand-danger-lighter: color-mix(in oklab, var(--brand-danger), white 80%);

  --brand-warning-darker: color-mix(in oklab, var(--brand-warning), black 60%);
  --brand-warning-dark: color-mix(in oklab, var(--brand-warning), black 30%);
  --brand-warning-light: color-mix(in oklab, var(--brand-warning), white 30%);
  --brand-warning-lighter: color-mix(in oklab,
    var(--brand-warning),
    white 80%);
  --brand-info-darker: color-mix(in oklab, var(--brand-info), black 60%);
  --brand-info-dark: color-mix(in oklab, var(--brand-info), black 30%);
  --brand-info-light: color-mix(in oklab, var(--brand-info), white 30%);
  --brand-info-lighter: color-mix(in oklab, var(--brand-info), white 80%);
}

/* Text styling. */
.text-done { text-decoration: line-through !important; }
.glyphicon-sm { font-size: 12px; }
.glyphicon-xs { font-size: 10px; margin: 0 0 4px 0; }

/* Global */
.no-margin {
  margin: 0;
}

.no-gutters {
  padding-right: 0;
  padding-left: 0
}

.flex-grow {
  flex-grow: 1;
}

.inline-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 15px;
}

.inline-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inline-glyph {
  display: flex;
  flex-direction: row;
  gap: 0 8px;
  align-items: center;
}

/* Indicator for maintenance mode. */
#maintenance {
  position: fixed;
  top: 0;
  left: 43%;
  z-index: 50;
  background: red;
  color: white;
  font-weight: bold;
  padding: 0.4em;
  border: 1px solid yellow;
  border-top: 0;
}

/* NAVIGATION & HEADER */
/* Button for header control. */
#header_control {
  position: fixed;
  top: 0;
  right: 2em;
  padding: 0;
  border: 0;
  z-index: 50;
}

#header.jumbotron {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#header.jumbotron .branding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  padding: 5px 0;
}

#header.jumbotron .branding>span.logo_clearfix {
  width: 70px;
}

.logo {
    /* margin-top: 15px; */
    height: 70px;
    width: 70px;
}

#header.jumbotron h1 {
    font-size: 34px;
    margin: 15px 0;
}

.navbar {
  margin: 0;
}

.navbar-header > ul {
  display: none
}

.inline-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Bootstrap SM Breakpoint */
@media (max-width: 768px) {
  #header.jumbotron .branding {
    justify-content: center;
    padding: 0;
    margin: 0 -30px;
  }

  #header.jumbotron h1 {
    font-size: 28px;
  }

  #header .branding > .logo {
    height: 40px;
    width: 40px;
  }

  #header .branding > span.logo_clearfix {
    display: none;
  }

  .navbar {
    border-radius: 4px;
  }

  .navbar-header {
    display: flex;
    padding: 0 15px;
  }

  .navbar-default .navbar-toggle {
    float: left;
  }

  .navbar-header > ul {
    flex-grow: 1;
    display: flex;
    margin: 9.75px 0;
    justify-content: flex-end;
  }
}

/* //NAVIGATION & HEADER */

.video-embed {
  aspect-ratio: 16/9;
  border-radius: 0.25rem;
}

.dates-as-spans {
  display: flex;
  justify-content: end;
  flex-direction: row;
}

.dates-as-spans > span {
  white-space: nowrap;
}

.event-metadata {
  display: inline-flex;
  align-items: center;
  gap: 0 8px;
}

.event-metadata > span {
  white-space: nowrap;
}

.event-metadata > span::after {
  padding-left: 8px;
  content: "•";
  font-size: 12px;
  vertical-align: text-top;
}

.event-metadata > span:last-child::after {
  content: none;
}

.event-location-span {
  display: none;
}

.event-location-span .glyphicon {
  font-size: 12px;
  margin-right: 2px;
}

/* PAGES */

main {
  overflow-x: hidden;
}

section.full-width {
  width: 100%;
}

section.title-only {
  background: var(--gray-lighter);
  padding: 32px 0;
  margin: 0 0 21px 0;
}

section h2 {
  color: var(--gray-base);
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
}

/* Events */


section.events-search {
  background: var(--gray-lighter);
  padding: 32px 0;
  margin: 0 0 10px 0;
}

section .flex-row {
  display: flex;
  flex-direction: row;
  gap: 0 30px;
  justify-content: space-between;
}

section .form-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 21px 0;
}

section.title-only .form-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}


section .form-panel .form-section {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}

section .form-panel .form-actions {
  display: flex;
  flex-direction: row;
  gap: 0 15px;
}

section .form-panel label {
  display: block;
  font-weight: 400;
  line-height: 1em;
  margin: 0 0 5px 0;
}

section .form-panel input::placeholder {
  font-style: italic;
}

section .form-panel select::picker-icon {
  padding: 0 5px 0 0;
}

section .form-panel button {
  width: fit-content;
}

section .form-panel > form {
  display: flex;
  flex-direction: column;
  gap: 21px 0;
}

section aside.map {
  width: 400px;
  height: 100%;
}

.panel.panel-default {
    margin-bottom: 0;
}

.panel.with-margin{
    margin-bottom: 21px;
}

.panel ul.panel-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.panel ul.panel-list.with-divider > li:not(:last-child) {
  margin: 0 0 10px 0;
}

section.latest-news > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px 0;
}

section.latest-news h3 {
  color: var(--gray-base);
  font-weight: 700;
  margin: 0;
}

/* Homepage Links */
.home-page-links>.mobile-links {
  display: none;
}

.home-page-links > .mobile-links > .panel {
  flex-grow: 1;
}

.home-page-links > .mobile-links > .panel ul {
  list-style: none;
  padding: 0;
}

.home-page-links > .mobile-links > .actions {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  /* padding: 0 0 10px 0; */
}

/* Bootstrap SM Breakpoint */
@media (max-width: 768px) {
  section aside.map {
    display: none;
  }

  .home-page-links>.mobile-links {
      display: flex;
      flex-direction: row-reverse;
      gap: 0 15px;
      margin: 0 0 21px 0;
    }

  .home-page-links>.panel {
    display: none;
  }
}

/* // Homepage Links */
/* Featured Results */
.panel.featured-result {
  /* display: none; */
  padding: 10px 15px;
  margin: 0 0 8px 0;
}

.panel.panel-news {
  margin: 0 0 8px 0;
}

.result-icon {
  /* display: none; */
}

.result-date {
  /* display: none; */
}

.panel.featured-result .result-icon {
  display: inline-block;
  margin-right: 4px;
}

.panel.featured-result .result-date {
  display: inline-block;
  white-space: white-space-no-wrap;
}

.panel.featured-result a {

}

.panel.featured-result .result-metadata {
  display: none;
}
/* // Featured Results */

.panel.panel-champion .panel-body {
  padding: 0;
}

.panel.panel-champion .panel-body img {
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.panel .panel-heading-middle {
    border-radius: 0;
}

.panel.home-links {
  margin: 0 0 10px 0;
}

.panel.home-links ul {
  padding: 0;
  list-style: none;
}

.irish-events .panel-body.last-panel-body {
    padding: 10px 15px;
}

.irish-events .panel-body, .junior-events .panel-body, .news .panel-body {
    padding: 10px 15px 0;
}

.irish-events .panel-footer, .junior-events .panel-footer, .news .panel-footer {
    border-top: solid 1px;
    background: inherit;
}

.irish-events .panel-body .label .glyphicon {
  margin-right: 4px;
}

.label.label-stream {
  color: #450a0a;
  background: #FEE2E2;
}

.label.label-boards {
  color: #042f2e;
  background: #ccfbf1;
}

/* // PAGES */

/* Latest Tournament Reports Card */
section.latest-reports {
  margin: 0 0 8px 0;
}

section.latest-reports h4 {
  font-weight: 700;
  margin: 0;
}

section.latest-reports header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

section.latest-reports .content-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0 15px
}

section.latest-reports .content-grid .each-report {
  display: flex;
  flex-direction: column;
  gap: 8px 0
}

section.latest-reports .content-grid .thumbnail-image {
  border-radius: 4px;
  width: 100%;
  aspect-ratio: 3/2;
  background: var(--gray-lighter);
  border: 2px solid var(--gray-lighter);
}

.latest-news footer {
  margin: 0 0 21px 0;
}

@media (max-width: 768px) {
  section.latest-reports .content-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  section.latest-reports .content-grid .each-report:last-child {
    display: none;
  }
}


/* LABELS */
.label-rounded {
  border-radius: calc(infinity * 1px);
  text-transform: uppercase;
  letter-spacing: 0.01em;
  padding: 0.375em 0.75em;
}

.label-margin-left {
  margin: 0 0 0 4px;
}

.label-margin-right {
  margin: 0 4px 0 0;
}

/* INPUT */

/* Custom switch toggle */
.switch-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 8px;
}

.switch-group label {
  margin: 0;
}

.switch-group .admin-only-label {
  font-size: 1.4rem;
  color: var(--brand-info);
  border: 1px solid var(--brand-info-light);
  background: var(--brand-info-lighter);
  margin-left: 5px;
  padding: 3px 5px;
  border-radius: 4px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-light);
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: var(--body-bg);
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked+.slider {
  background-color: var(--brand-info);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--brand-info);
}

input:checked+.slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* // Custom switch toggle */
/* Inline radio */
.inline-radio {
  display: flex;
  flex-direction: row;
  gap: 0 15px;
}

.inline-radio input {
  display: none;
}

.inline-radio label {
  color: var(--gray-base);
  cursor: pointer;
  padding: 0 0 4px 0;
  border-bottom: 2px solid var(--gray-lighter);
}

.inline-radio label:hover {
  padding: 0 0 4px 0;
  color: var(--brand-info);
  border-bottom: 2px solid var(--brand-info);
}

.inline-radio input[type="radio"]:checked+label {
  color: var(--gray-base);
  border-color: var(--gray-base);
  font-weight: 700;
  padding: 0 0 4px 0;
}

/* // Inline radio */


/* // INPUT */

/* Vertical offsets and centering. */
.voffset1 { margin-top: 10px; }
.voffset2 { margin-top: 15px; }
.voffset3 { margin-top: 20px; }
.vcenter { vertical-align: middle !important; }

/* To stop text wrapping */
.cell-no-wrap { white-space: nowrap; width: 1%; }
.no-wrap { white-space: nowrap; }

/* For articles */
#article table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
#article table.blank
{
  border-style: none !important;
}
#article table.left-aligned
{
  margin-left: 0;
}
#article table.blank > tbody > tr > td
{
  border-style: none !important;
}
#article th
{
  border: solid 1px #bbb;
  padding: 0.4em;
}
#article td
{
  border: solid 1px #bbb;
  padding: 0.4em;
}

/* For news items. */
.news dd {
  margin-left: 1em !important;
}
.news table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.news table.blank
{
  border-style: none !important;
}
.news table.blank > tbody > tr > td
{
  border-style: none !important;
}
.news th
{
  border: solid 1px #bbb;
  padding: 0.4em;
}
.news td
{
  border: solid 1px #bbb;
  padding: 0.4em;
}

.btn.btn-pastel-primary,
.panel-pastel-primary {
  color: var(--brand-primary-dark);
  border-color: var(--brand-primary-light);
  background-color: var(--brand-primary-lighter);
}

.btn.btn-pastel-primary:hover, .btn.btn-pastel-primary:focus {
  background-color: var(--brand-primary-light);
}

.btn.btn-pastel-info,
.panel-pastel-info {
  color: var(--brand-info-dark);
  border-color: var(--brand-info-light);
  background-color: var(--brand-info-lighter);
}

.btn.btn-pastel-info:hover, .btn.btn-pastel-info:focus {
  background-color: var(--brand-info-light);
}

.btn.btn-pastel-success,
.panel-pastel-success {
  color: var(--brand-success-dark);
  border-color: var(--brand-success-light);
  background-color: var(--brand-success-lighter);
}

.btn.btn-pastel-success:hover, .btn.btn-pastel-success:focus {
  background-color: var(--brand-success-light);
}

.btn.btn-pastel-warning,
.panel-pastel-warning {
  color: var(--brand-warning-dark);
  border-color: var(--brand-warning-light);
  background-color: var(--brand-warning-lighter);
}

.btn.btn-pastel-warning:hover, .btn.btn-pastel-warning:focus {
  background-color: var(--brand-warning-light);
}

.btn.btn-pastel-danger,
.panel-pastel-danger {
  color: var(--brand-danger-dark);
  border-color: var(--brand-danger-light);
  background-color: var(--brand-danger-lighter);
}

.btn.btn-pastel-danger:hover, .btn.btn-pastel-danger:focus {
  background-color: var(--brand-danger-light);
}

button.like-btn {
    border: none;
    background-color: inherit;
}

button.like-btn.liked span {
    color: red;
}

button.like-btn.unliked span {
    color: grey;
}

button.like-btn span:hover {
    color: red;
}

/* General styles for board tables (see models/board.rb). */
table.board { border: solid 1px #ccc !important; margin-bottom: 0.7em; }
table.board td { border: 0 !important; padding: 0; }
table.board th { border: 0 !important; padding: 1em; }
table.board th.w-to-move { vertical-align: bottom; text-align: center; }
table.board th.b-to-move { vertical-align: top; text-align: center; }
table.board th.comment { font-weight:normal; border-top: solid 1px #ccc !important; }

/* This was invented for board tables but it will work with any. */
table.float-center { margin-left: auto; margin-right: auto; }

/* See also custom board styles in boards.css.scss. */

/* Mainly for images (because the align attribute is not supported in html5) but also used for board tables. */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.left-margin {
  margin-left: 1em !important;
}
.right-margin {
  margin-right: 1em !important;
}

/* For popup modals. */
.modal_width_lg {
  width: 90% !important;
}
.modal_width_md {
  width: 70% !important;
}
.modal_width_sm {
  width: 50% !important;
}

/* Forms */
fieldset.time-controls > legend {
  font-size: 15px;
  font-weight: bold;
  text-align: right;
}

/* From http://www.abeautifulsite.net/blog/2013/08/whipping-file-inputs-into-shape-with-bootstrap-3/. */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* For text areas where white space is significant. */
textarea.significant-space {
  font-family: monospace !important;
  white-space: pre;
}

/* For text areas where white space is not significant. */
textarea.insignificant-space {
  font-family: monospace !important;
}

/* For links where we don't want the underline. */
a.no-underline {
  text-decoration: none !important;
}

/* For Google Maps. */
#map-canvas {
  height: 600px;
}

#map-canvas hr {
  margin: 10px 0;
}

#map-canvas .event_info {
  font-weight: 400;
  font-size: 15px;
}
#map-canvas a:focus {
  outline: 0;
}

#map-canvas .time_controls_list {
  font-size: 15px;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0 10px;
  justify-content: center;
  align-items: center;
}

#map-canvas .time_controls_list > span::before {
  padding-right: 5px;
  content: "•";
  font-size: 20px;
  vertical-align: middle;
}

.hidden {
    display: none;
}

#demo-boardBorder {
    border: none;
}

.ct-start, .ct-end, .ct-back, .ct-forward, .ct-play, .ct-stop {
    width: 24px;
}

.ct-nav-buttons {
    text-align: center;
}

.ct-board-border {
    margin-left: auto;
    margin-right: auto;
}

.text-sm {
    font-size: 13px;
}

.panel.results {
    margin-bottom: 2px;
}

ol.nested-numbering {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

ol.nested-numbering > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}
ol.nested-numbering > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
}

.sponsor img {
    width: 45%;
}

.panel-body p {
    margin-bottom: 20px;
}

.clubs .panel-body {
    height: 250px;
    overflow-y: scroll;
}

.clubs .panel-body ul, .organisations .panel-body ul {
    padding-left: 15px;
}

.table-spaced {
    border-collapse: separate;
    border-spacing: 3px;
}

td.enter {
  padding: 0 8px 0 0;
}

.fees-table td.enter a.btn {
    min-width: 80px;
}

/* Bootstrap MD Breakpoint */
@media (max-width: 1200px) {
  .event-metadata {
    flex-direction: column;
    align-items: flex-start;
  }

  .event-metadata>span::after {
    padding: 0;
    content: none;
  }

  .inline-header {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 12px 0;
  }

  .dates-as-spans {
    flex-direction: column;
    align-items: end;
  }
}

/* Bootstrap SM Breakpoint */
@media (max-width: 768px) {
  .no-gutters-xs {
    padding-right: 0;
    padding-left: 0
  }

  .row.results {
    display: none;
  }

  .panel-info.featured-result {
    display: block;
  }

  .panel-info.featured-result a {
    display: none;
  }

  .champions {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0 15px;
  }

  .event-location-col {
    display: none;
  }

  .event-location-span {
    display: inline;
  }

  .events-search select {
    display: inline-block;
    width: auto;
  }

  .events-search input[type=text] {
    width: auto;
  }
}