/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require board-min
 *= require boards
 */

/* Text styling. */
.text-done { text-decoration: line-through !important; }

/* Indicator for maintenance mode. */
#maintenance {
  position: fixed;
  top: 0;
  left: 43%;
  z-index: 50;
  background: red;
  color: white;
  font-weight: bold;
  padding: 0.4em;
  border: 1px solid yellow;
  border-top: 0;
}

/* Button for header control. */
#header_control {
  position: fixed;
  top: 0;
  right: 2em;
  padding: 0;
  border: 0;
  z-index: 50;
}

#header.jumbotron {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.header-logo {
    margin-top: 15px;
}

#header.jumbotron h1 {
    font-size: 34px;
}

.panel.panel-default {
    margin-bottom: 0;
}

.panel .panel-heading-middle {
    border-radius: 0;
}

.irish-events .panel-body.last-panel-body {
    padding: 10px 15px;
}

.irish-events .panel-body, .junior-events .panel-body, .news .panel-body {
    padding: 10px 15px 0;
}

.irish-events .panel-footer, .junior-events .panel-footer, .news .panel-footer {
    border-top: solid 1px;
    background: inherit;
}

/* Vertical offsets and centering. */
.voffset1 { margin-top: 10px; }
.voffset2 { margin-top: 15px; }
.voffset3 { margin-top: 20px; }
.vcenter { vertical-align: middle !important; }

/* To stop text wrapping */
.no-wrap { white-space: nowrap; }

/* For articles */
#article table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
#article table.blank
{
  border-style: none !important;
}
#article table.left-aligned
{
  margin-left: 0;
}
#article table.blank > tbody > tr > td
{
  border-style: none !important;
}
#article th
{
  border: solid 1px #bbb;
  padding: 0.4em;
}
#article td
{
  border: solid 1px #bbb;
  padding: 0.4em;
}

/* For news items. */
.news dd {
  margin-left: 1em !important;
}
.news table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.news table.blank
{
  border-style: none !important;
}
.news table.blank > tbody > tr > td
{
  border-style: none !important;
}
.news th
{
  border: solid 1px #bbb;
  padding: 0.4em;
}
.news td
{
  border: solid 1px #bbb;
  padding: 0.4em;
}

button.like-btn {
    border: none;
    background-color: inherit;
}

button.like-btn.liked span {
    color: red;
}

button.like-btn.unliked span {
    color: grey;
}

button.like-btn span:hover {
    color: red;
}

/* General styles for board tables (see models/board.rb). */
table.board { border: solid 1px #ccc !important; margin-bottom: 0.7em; }
table.board td { border: 0 !important; padding: 0; }
table.board th { border: 0 !important; padding: 1em; }
table.board th.w-to-move { vertical-align: bottom; text-align: center; }
table.board th.b-to-move { vertical-align: top; text-align: center; }
table.board th.comment { font-weight:normal; border-top: solid 1px #ccc !important; }

/* This was invented for board tables but it will work with any. */
table.float-center { margin-left: auto; margin-right: auto; }

/* See also custom board styles in boards.css.scss. */

/* Mainly for images (because the align attribute is not supported in html5) but also used for board tables. */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.left-margin {
  margin-left: 1em !important;
}
.right-margin {
  margin-right: 1em !important;
}

/* For popup modals. */
.modal_width_lg {
  width: 90% !important;
}
.modal_width_md {
  width: 70% !important;
}
.modal_width_sm {
  width: 50% !important;
}

/* From http://www.abeautifulsite.net/blog/2013/08/whipping-file-inputs-into-shape-with-bootstrap-3/. */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* For text areas where white space is significant. */
textarea.significant-space {
  font-family: monospace !important;
  white-space: pre;
}

/* For text areas where white space is not significant. */
textarea.insignificant-space {
  font-family: monospace !important;
}

/* For links where we don't want the underline. */
a.no-underline {
  text-decoration: none !important;
}

/* For Google Maps. */
#map-canvas {
  height: 600px;
}

.hidden {
    display: none;
}

#demo-boardBorder {
    border: none;
}

.ct-start, .ct-end, .ct-back, .ct-forward, .ct-play, .ct-stop {
    width: 24px;
}

.ct-nav-buttons {
    text-align: center;
}

.ct-board-border {
    margin-left: auto;
    margin-right: auto;
}

.text-sm {
    font-size: 13px;
}

.panel.results {
    margin-bottom: 2px;
}

ol.nested-numbering {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

ol.nested-numbering > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}
ol.nested-numbering > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
}

.sponsor img {
    width: 45%;
}

.panel-body p {
    margin-bottom: 20px;
}

.clubs .panel-body {
    height: 250px;
    overflow-y: scroll;
}

.clubs .panel-body ul, .organisations .panel-body ul {
    padding-left: 15px;
}

.table-spaced {
    border-collapse: separate;
    border-spacing: 3px;
}

.fees-table a.btn {
    width: 80px;
}