:root {
  /* https://bootswatch.com/3/readable/variables.less */
  /* Gray and brand colors for use across Bootstrap. */
  --gray-base: #000;
  --gray-darker: color-mix(in oklab, var(--gray-base), white 13.5%);
  --gray-dark: color-mix(in oklab, var(--gray-base), white 20%);
  --gray: color-mix(in oklab, var(--gray-base), white 33.5%);
  --gray-light: color-mix(in oklab, var(--gray-base), white 70%);
  --gray-lighter: color-mix(in oklab, var(--gray-base), white 93.5%);

  --brand-primary: #4582EC;
  --brand-success: #3FAD46;
  --brand-info: #5bc0de;
  --brand-warning: #f0ad4e;
  --brand-danger: #d9534f;

  /* Settings for some of the most global styles. */

  /* Background color for `<body>`. */
  --body-bg: #FFF;

  /* Global text color on `<body>`. */
  --text-color: var(--gray-dark);

  /* Global textual link color. */
  --link-color: var(--brand-primary);
}