:root {
  /* https://bootswatch.com/3/sandstone/variables.less */
  /* Gray and brand colors for use across Bootstrap. */
  --gray-base: #000;
  --gray-darker: #3E3F3A;
  --gray-dark: #8E8C84;
  --gray: #98978B;
  --gray-light: #DFD7CA;
  --gray-lighter: #F8F5F0;

  --brand-primary: #325D88;
  --brand-success: #93C54B;
  --brand-info: #29ABE0;
  --brand-warning: #F47C3C;
  --brand-danger: #d9534f;

  /* Settings for some of the most global styles. */

  /* Background color for `<body>`. */
  --body-bg: #FFF;

  /* Global text color on `<body>`. */
  --text-color: #3E3F3A;

  /* Global textual link color. */
  --link-color: var(--brand-success);
}