:root {
  /* https://bootswatch.com/3/spacelab/variables.less */
  /* Gray and brand colors for use across Bootstrap. */
  --gray-base: #000;
  --gray-darker: #2d2d2d;
  --gray-dark: color-mix(in oklab, var(--gray-base), white 20%);
  --gray: #666;
  --gray-light: color-mix(in oklab, var(--gray-base), white 60%);
  --gray-lighter: color-mix(in oklab, var(--gray-base), white 93.5%);

  --brand-primary: #446E9B;
  --brand-success: #3CB521;
  --brand-info: #3399F3;
  --brand-warning: #D47500;
  --brand-danger: #CD0200;

  /* Settings for some of the most global styles. */

  /* Background color for `<body>`. */
  --body-bg: #FFF;

  /* Global text color on `<body>`. */
  --text-color: var(--gray);

  /* Global textual link color. */
  --link-color: var(--brand-info);
}