:root {
  /* https://bootswatch.com/3/flatly/variables.less */
  /* Gray and brand colors for use across Bootstrap. */
  --gray-base: #000;
  --gray-darker: #222;
  --gray-dark: #7b8a8b;
  --gray: #95a5a6;
  --gray-light: #b4bcc2;
  --gray-lighter: #ecf0f1;

  --brand-primary: #2C3E50;
  --brand-success: #18BC9C;
  --brand-info: #3498DB;
  --brand-warning: #F39C12;
  --brand-danger: #E74C3C;

  /* Settings for some of the most global styles. */

  /* Background color for `<body>`. */
  --body-bg: #fff;

  /* Global text color on `<body>`. */
  --text-color: var(--brand-primary);

  /* Global textual link color. */
  --link-color: var(--brand-success);
}