:root {
  /* https://bootswatch.com/3/yeti/variables.less */
  /* Gray and brand colors for use across Bootstrap. */
  --gray-base: #000;
  --gray-darker: color-mix(in oklab, var(--gray-base), white 13.5%);
  --gray-dark: color-mix(in oklab, var(--gray-base), white 20%);
  --gray: #6f6f6f;
  --gray-light: color-mix(in oklab, var(--gray-base), white 60%);
  --gray-lighter: color-mix(in oklab, var(--gray-base), white 93.5%);

  --brand-primary: #008cba;
  --brand-success: #43ac6a;
  --brand-info: #5bc0de;
  --brand-warning: #E99002;
  --brand-danger: #F04124;

  /* Settings for some of the most global styles. */

  /* Background color for `<body>`. */
  --body-bg: #fff;

  /* Global text color on `<body>`. */
  --text-color: var(--gray-darker);

  /* Global textual link color. */
  --link-color: var(--brand-primary);
}