:root {
  /* https://bootswatch.com/3/cerulean/variables.less */
  /* Gray and brand colors for use across Bootstrap. */
  --gray-base: #000;
  --gray-darker: color-mix(in oklab, var(--gray-base), white 13.5%);
  --gray-dark: color-mix(in oklab, var(--gray-base), white 20%);
  --gray: color-mix(in oklab, var(--gray-base), white 33.5%);
  --gray-light: color-mix(in oklab, var(--gray-base), white 60%);
  --gray-lighter: color-mix(in oklab, var(--gray-base), white 93.5%);

  --brand-primary: #2FA4E7;
  --brand-success: #73A839;
  --brand-info: #033C73;
  --brand-warning: #DD5600;
  --brand-danger: #C71C22;

  /* Settings for some of the most global styles. */

  /* Background color for `<body>`. */
  --body-bg: #FFF;

  /* Global text color on `<body>`. */
  --text-color: var(--gray);

  /* Global textual link color. */
  --link-color: var(--brand-primary);
}