- if sam = Image.where(id: 1331).first
  .panel.panel-primary
    .panel-heading
      .text-center.small Stephen Jessel
    .panel-body= sam.expand(type: "IMG", align: "center", responsive: "true", alt: "Stephen Jessel").html_safe
    .panel-footer
      .text-center.small 2016 Champion

- if mg = Image.where(id: 1239).first
  .panel.panel-primary
    .panel-heading
      .text-center.small Monika Gedvilaite
    .panel-body= mg.expand(type: "IMG", align: "center", responsive: "true", alt: "Monika Gedvilaite").html_safe
    .panel-footer
      .text-center.small 2016 Women's Champion

.panel.panel-primary
  .panel-body
    .text-center.small
      Apart from its two websites,
      %strong www.icu.ie
      ,
      = succeed(",") do
        %strong ratings.icu.ie
      and a <a href="https://www.facebook.com/IrishChess">Facebook page</a>
      the ICU is not responsible for any other internet media relating to Irish chess.

