.champions
  = render "champions/champion", champion: Champion.recent(:open).first
  = render "champions/champion", champion: Champion.recent(:women).first

.panel.panel-primary
  .panel-body
    .text-center.small
      Apart from its two websites,
      %strong www.icu.ie
      ,
      = succeed(",") do
        %strong ratings.icu.ie
      a <a href="https://twitter.com/IrishChessUnion">Twitter page</a>
      and a <a href="https://www.facebook.com/IrishChess">Facebook page</a>
      the ICU is not responsible for any other internet media relating to Irish chess.

