.panel.panel-primary
  .panel-heading
    .text-center Partners
  .panel-body
    %a{href: 'http://www.wholesalechess.co.uk/'}
      %img.center-block{src: 'http://wholesalechess.co.uk/wholesale_chess.gif'}
  .panel-body
    %a{href: 'http://awardsandgifts.ie/'}
      =image_tag 'partners/awardsandgifts.png', class: 'center-block'
  .panel-body
    %a{href: 'https://www.chess.com/membership?c=icon%3Fref_id%3D26209548'}
      %img.center-block{src: 'http://d1lalstwiwz2br.cloudfront.net/images_adv/1378332246.6305_origin.jpeg'}
