- if @results.length > 0
  .panel.panel-primary.results
    .panel-heading
      #results-carousel.carousel.slide{data: {ride: "carousel"}}
        .carousel-inner{role: "listbox"}
          .item.active
            = render @results.first
          -@results[1..-1].each do |result|
            .item
              = render result
