.panel.panel-primary.results
  .panel-heading
    #results-carousel.carousel.slide{data: {ride: "carousel"}}
      .carousel-inner{role: "listbox"}
        .item.active
          Armstrong Cup Rd 7: Dublin 2 - Gonzaga 6
        .item
          Friendly: Desmond Beatty 1/2-1/2 Jonathan O'Connor
        .item
          Olympiad: Ireland comes 2nd in best ever result
