- if @results.length > 0
  .panel.panel-info.results
    .panel-heading
      .panel-title
        #results-carousel.carousel.slide{data: {ride: "carousel", interval: '10000'}}
          .carousel-inner{role: "listbox"}
            .item.active
              = render @results.first
            -@results[1..-1].each do |result|
              .item
                = render result
